* {
    margin: 0;
    padding: 0;
    font-size: 62.5%
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body{
    font-family: 'Open Sans',Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}
/* GRILLA PADRE */
#layout {
    display: grid;
}


header {
    grid-area: header;
    
}

#mainIndex {
    grid-area: main;
    
}

#mainContacto {
    grid-area: main;
}

#mainFaqs {
    grid-area: main;
}

#mainQuienes {
    grid-area: main;
    height: 75vh;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    
}

#mainRecursos {
    grid-area: main;
}

footer {
    grid-area: footer;
        
}


/* BURGER */

.container {
    max-width: 1050px;
    width: 90%;
    margin: auto;
  }
  
  .navbar {
    width: 100%;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
    grid-area: burger;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
  }
  
  .navbar .menu-items {
    display: flex;
  }
  
  .navbar .nav-container li {
    list-style: none;
  }
  
  .navbar .nav-container a {
    text-decoration: none;
    color: #0e2431;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
  }
  
  .navbar .nav-container a:hover{
      font-weight: bolder;
  }
  
  .nav-container {
    display: block;
    position: relative;
    height: 60px;
  }
  
  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  
  .nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #ffffff;
  }
  
  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  
  .navbar .menu-items {
    padding-top: 120px;
    background-color: #e9183b;
    height: 100vh;
    width: 100vw;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -130px;
    padding-left: 200px;
    padding-right: 100px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
  }
  
  .navbar .menu-items li {  
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
    width: 40vw;
  }

  .menuItems {
      width: 100%;
  }

  .navbar .menu-items li a {
    color: #fff;
    font-size: 2rem;
    width: 20vw;
   
  }
  
  .logo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 1.2rem;
    color: #0e2431;
  }
  
  .nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(30vw);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .logo{
    display: none;
  }




/* GRILLA NAV BAR */

nav {
    display: grid;
    background-color: #e9183b;
    position: fixed;
    border-bottom: solid white;
    z-index: 2;
}

.navbar {
    grid-area: burger;
    display: flex;
    align-items: center;
    padding-left: 2vh;
}

.burgImg {
    height: 5vh;
    width: 5vh;
    
}

.logo {
    grid-area: logo;
    display: flex;
    align-items: center;
    

}


h1 a{
    text-decoration: none;
    padding-left: 1vw;
    display: flex;
    color: #fff;
    font-size: 3.5rem;
        
}

.imgLogo {
    height: 8vh;
    border-radius: 30%;
    padding: 1vh 1vh 1vh 1vh;
}



.navegacion {
    grid-area: navegacion;
    background-color: #e9183b;
    
    
    
}

.drop {
    background-color: #e9183b;
}


/* Footer */

footer {
    display: grid;
    border-top: solid white; 
}


.textoF {
    grid-area: textoF;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.3rem;
    
    
}

.logosFcaja {
        display: flex;
        background-color: #e9183b;
        width: 100vw;
        justify-items: center;
        justify-content: center;
}

.logosF {
    grid-area: logosF;
    background-color:#e9183b;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 40vh;
    
    
}



.socialM {
    
    width: 5vh;
        
}




/* ///////////////// I N D E X ///////////////// */
#mainIndex {
    display: grid;
}


.servicio {
    grid-area: servicio;
    flex: display;
    flex-direction: column;
}



.parallax {
    background-attachment: fixed;
	background-position: 70%;
	background-repeat: no-repeat;
	background-size:  cover;
    
}

.imgServicio {
    background-image: url(../Imagenes/Fondo.jpg) ;
    width: 100%;
    height: 75vh;   
}

.introduccion {
    height: 19.5vh;
    background: linear-gradient(#e9183b,#f04e69, #e9183b);
    border: solid white;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}

.introduccion h2 {
    font-size: 1.8rem;
    text-align: center;
}

.introduccion p {
    font-size: 1rem;
    text-align: center;
    width: 85%;
}

.frameB {
    height: 7vh;
    background: linear-gradient(black, rgb(71, 71, 71), black);
    border-bottom: solid white;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}


.planes {
    grid-area: planes;
    border: solid white;
}

.imgPlan1 {
    background-image: url(../Imagenes/musculacion.jpg) ;
    width: 100%;
    height: 30vh;
    
      
}

.imgPlan2 {
    background-image: url(../Imagenes/descenso.jpg) ;
    width: 100%;
    height: 30vh;  
}

.imgPlan3 {
    background-image: url(../Imagenes/Heart.jpeg) ;
    width: 100%;
    height: 30vh;  
}

.bullets {
    background: linear-gradient(to right,rgba(8, 8, 8, 0.596),rgba(59, 59, 59, 0.404), rgba(128, 128, 128, 0.253),rgba(153, 153, 153, 0));
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    font-size: 3rem;
    padding-left: 4vh;
    
    
}


.testimonios {
    height: 243vh;
    width: 100vw;
    
}



.test {
    height: 45vh
}




/* ///////////////// Q U I E N E S   S O M O S  ///////////////// */


.cuadroQuienes {
    height: 73vh;
    width: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.imgQuienes {
    height: 45vh;
    width: 35vh;
}

.textoQuienes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    text-align: justify;
    color: #fff;
    background-color: #e9183b;
    font-size: 2rem;
    width: 35vh;
    padding-left: 2vh;
    padding-right: 2vh;
    height: 35vh;
}

.textoQuienes h2 {
    font-size: 2rem;
}


/* ///////////////// R E C U R S O S  ///////////////// */

.buenasP {
    
    height: 90vh;
    display: flex;
    flex-direction: column;
    font-size: 5rem;
    
}

.tips{
    height: 65vh;
    display: flex;
    flex-direction: column;
    list-style:circle;
    justify-content: space-around;
    background-color: #fff;
    
}

.tips h2 {
    
    box-shadow: 5px 0 10px black;
    color:#fff;
    background-color: #e9183b;
    font-size: 2rem;
    box-sizing: border-box;
    padding-left: 1vh;
}

.tips ul {
    padding-left: 3vh;
    width: 80%;
}

.video {
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
}

.video h2 {
    box-shadow: 5px 0 10px black;
    color:#fff;
    background-color: #e9183b;
    font-size: 2rem;
    width: 100%;
    box-sizing: border-box;
    padding-left: 1vh;
}


.multimedia {
    height: 26vh;
    
}


/* ///////////////// C O N T A C T O   ///////////////// */

.textoContacto {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: justify;
    padding-left: 3vh;
    font-size: 3rem;
    height: 30vh;
    width: 90%;
}

.textoContacto h2{
    font-size: 3rem;
    padding-top: 1vh;
}

.textoContacto ul li {
    list-style-type: none;
    padding-top: 1vh;
}

.formContacto form  {
    height: 45vh;
    display: flex;
    flex-direction: column;
    width: 80%;
    font-size: 2rem;
    justify-content: space-evenly;
    padding-left: 3vh;

}

.formContacto h2 {
    font-size: 3rem;
}


/* /////////////////   F A Q S   ///////////////// */

.cajaFaq{
    height: 85vh;
  
    
}

.faq{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 85vh;
  
}

.faq p{
    padding-left: 1vh;
    font-size: 1rem;
    display: flex;
    
  
}

.faq h2 {
    display: flex;
    box-shadow: 5px 0 10px black;
    color:#fff;
    background-color: #e9183b;
    font-size: 1rem;
    box-sizing: border-box;
    padding-left: 1vh;
    height: 3vh;
    align-items: center;
    

}


/* MEDIA Q CELULAR */
@media screen and (min-width: 320px) {
  

    /* GRIDS */

    #layout {
        grid-template-columns: auto;
        grid-template-rows: 10vh auto 15vh;
        grid-template-areas: "header" "main" "footer";
        
    }

    nav {
        width: 100%;
        grid-template-columns: 8vh auto 0vw;
        grid-template-rows: 10vh;
        grid-template-areas: "burger logo navegacion";
        
    }

    footer {
        grid-template-columns: auto;
        grid-template-rows: auto 5vh;
        grid-template-areas: "logosF" "textoF";
    }


    #mainIndex {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: "servicio" "planes" "testimonios";
    }

    #testimonios {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "test1" "test2" "test3" "test4";
    }

    .navegacion {
        display: none;
    }


    


}

    /* MEDIA Q DESKTOP */

@media screen and (min-width: 800px) {
    
    

    /* GRIDS */

    #layout {
        grid-template-columns: auto auto auto auto;
        grid-template-rows: 10vh auto 15vh;
        grid-template-areas: "header header header header" "main main main main" "footer footer footer footer";
        
    }

    nav {
        grid-template-columns: 0vw 40vh  auto;
        grid-template-rows: 10vh;
        grid-template-areas: "burger logo navegacion";
    }


    footer {
        grid-template-columns: auto;
        grid-template-rows: auto 5vh;
        grid-template-areas: "logosF" "textoF";
    }

    #mainIndex {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: "servicio" "planes" "testimonios";
    }


    #testimonios {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: "test1 test2" "test3 test4";
    }

    .navegacion {
        display: flex;
        justify-content: end;
        align-items: end;
              
                        
    }

    .menu{
        display: flex;
        list-style: none;
        flex-direction: row;
        margin-bottom: 1vh;

    }

    .menu a {
        text-decoration: none;
        color: #fff;
        font-size: 1.8rem;
        padding-right: 1vw;
        
        
        

    }

    .menu ul{
        display: none;
        list-style: none;
        flex-direction: row;
        
        
        
    }

    .imgServicio {
        height: 75vh;
    } 

    .introduccion {
        height: 14.5vh;
    }
    
    .introduccion h2 {
        font-size: 2rem;
    }
    
    .introduccion p {
        font-size: 1.5rem;
        width: 85%;
    }
    
    .bullets {
       
        font-size: 5rem;
            
    }

    .burger {
        display: none;

    }

    .testimonios {
        height: 95vh;
    }
    /* ///////////////// Q U I E N E S   S O M O S  ///////////////// */

    
    #mainQuienes {
        grid-area: main;
        height: 75vh;
        width: 100%;
        display:flex;
        align-items: center;
        justify-content: start;
    
        
    }

.cuadroQuienes {
    height: 55vh;
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 75vh;
    margin-left: 2vh;

    
}

.imgQuienes {
    height: 55vh;
    width: 35vh;
}

.textoQuienes {
    height: 100%;
    font-size: 2.5rem; 
    padding-left: 2vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}   

   /* ///////////////// R E C U R S O S  ///////////////// */

.buenasP {
    
    height: 90vh;
    font-size: 7rem;
    
}

.tips{
    height: 50vh;
    
}


.video {
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    background-color: #fff;
}




.multimedia {
    height: 35vh;
    width: 80VH;
    
}

/* ///////////////// C O N T A C T O   ///////////////// */

.textoContacto {
    font-size: 4rem;
    height: 25vh;
    width: 80%;
}

.formContacto form  {
    height: 50vh;
    display: flex;
    flex-direction: column;
    width: 30%;
    font-size: 2.5rem;
    justify-content: space-evenly;
    padding-left: 3vh;

}

/* /////////////////   F A Q S   ///////////////// */

.faq p{
    padding-left: 1vh;
    font-size: 2rem;
 
  
}

.faq h2 {
   
    font-size: 2rem;
    box-sizing: border-box;
    padding-left: 1vh;
    height: 3vh;
    

}

.nav-container .hamburger-lines .line {
    display: none;
  }


 /* Elimino comentario para desplegar animación */
/* footer .logosFcaja .logosF a :hover {
    height: 7vh;
    width: 7vh;
    transition-duration: 1s; */
    
} 



}

